!.vimprj/
!.vimprj/*
**/.project
*.log
*.pyc
.DS_store
.ignore
ranger/.config/ranger/bookmarks
ranger/.config/ranger/copy_buffer
ranger/.config/ranger/history
ranger/.config/ranger/tagged
ranger/.config/ranger/**/__init__.py
!ranger/.config/ranger/plugins/ranger_devicons/__init__.py
/__/*
nvim/.config/nvim/path_aliases.json
