{
  "useTabs": false,
  "parser": "json",
  "printWidth": 88,
  "overrides": [
    {
      "files": ["*.json", "*.json.tpl*"],
      "options": {
        "tabWidth": 4
      }
    },
    {
      "files": ["*.omp.json"],
      "options": {
        "printWidth": 2,
        "tabWidth": 2
      }
    },
    {
      "files": [".prettierrc*"],
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": ["komorebi.json"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
